<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user, room: @room %>
		<!--同コントローラーのviewで表示ならusersは省略可 -->

		<h2>New book</h2>
		<%= render 'books/newform', book_new: @book_new %>
		</div>
		<div class="col-xs-9">
			<h2>Books</h2>
			<!--books一覧 -->
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th>Comments</th>
						<th colspan="4"></th>
					</tr>
				</thead>

				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td>
							<%= link_to (book.user) do %>
							<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no-image-mini.jpg") %>
							<% end %>
						</td>
						<td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
						<td><%= book.body %></td>
						<td><%= book.book_comments.count %>Comments</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<!--books一覧 -->
		</div>
	</div>
</div>

<% if @user.id == current_user.id %>
	<h1>Your map</h1>
	<div id='map'></div>
	<script>
		let center = {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>}
		function initMap(){
			let map = new google.maps.Map(document.getElementById('map'),{
				center: center,
  				zoom: 8
			});
			let marker = new google.maps.Marker({
			map: map,
			position: center
			});
			console.log(center);
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
<% end %>